<main>
    <section class="form-section">
        <h2>{{title}}</h2>
        <ng-content></ng-content>
        <div class="btn-wrapper">
            <button class="btn-primary">{{primaryBtnText}}</button>
            <div class="divider">
                <div></div>
                <span>or</span>
                <div></div>
            </div>
            <button class="btn-secondary">{{secondaryBtnText}}</button>
            <img src="/assets/svg/logo2.svg"/>
        </div>
    </section>
    <section class="main-section">
        <h2>You</h2>
        <img src="/assets/svg/Logo (1).svg"/>
    </section>
</main>
